body {
    font-family: Arial, sans-serif;
    background-image: url('https://i.ibb.co/NjMtQ3T/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    color: #fff;
}

header {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 30px 0;
}

.profile-photo {
    display: inline-block;
    background-color: #fff;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.profile-photo img {
    max-width: 150px;
    height: auto;
    border-radius: 50%;
}

h1 {
    margin-top: 20px;
}

.social-media {
    text-align: center;
    margin-top: 20px;
}

.social-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.social-row a {
    flex-basis: calc(50% - 10px); /* 50% width with 10px spacing in between */
    margin: 0;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.social-row a:hover {
    background-color: #444;
}


/* Your existing CSS styles */

.countdown-container {
    text-align: center;
    margin-top: 20px;
}

#countdown {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    display: inline-block;
    font-size: 24px;
}

.countdown-item {
    display: inline-block;
    margin: 0 20px;
}

.countdown-value {
    font-size: 36px;
}

.countdown-label {
    font-size: 14px;
    opacity: 0.7;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .profile-photo img {
        max-width: 100px;
    }

    h1 {
        font-size: 24px;
    }

    .social-row a {
        padding: 5px 0;
        font-size: 14px;
    }
}

